doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Main
    script(src='../socket.io/socket.io.js')
    link(href='css/styles.css', rel='stylesheet')
  body
    p#box1
    p#pump1Drink
    p#mlPump1 1
    p#pump1Name=name[0]
    button#plusSignPump1  + 
    button#minusSignPump1  - 
    p#pump2Drink
    p#mlPump2 1
    p#pump2Name=name[1]
    button#plusSignPump2  + 
    button#minusSignPump2  - 
    p#pump3Drink
    p#mlPump3 1
    p#pump3Name=name[2]
    button#plusSignPump3  + 
    button#minusSignPump3  - 
    p#pump4Drink  
    p#mlPump4 1
    p#pump4Name=name[3]
    button#plusSignPump4  + 
    button#minusSignPump4  - 
    p#pump5Drink
    p#mlPump5 1
    p#pump5Name=name[4]
    button#plusSignPump5  + 
    button#minusSignPump5  - 
    script(src='./js/drinks.js')